{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load staticfiles %}

{% block content %}

	<div
		id="react-menu"
		data-user={{ request.user }}
		super-user={{ request.user.is_superuser }}
	>
	</div>

	{% render_bundle 'menu'%}

<style>
	body{
	background: url("{% static "src/img/tacos.png" %}") no-repeat;
	background-size: cover;
}

.bienvenida{
	color: #fff;
	font-family: 'HelveticaNeue-Light';
	font-weight: light;
	font-size: 40px;
}

.logo{
	background: url("{% static "src/img/logo.png" %}") no-repeat;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

</style>

{% endblock content %}


