{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load staticfiles %}

{% block content %}


	<div id='mesas' data-token="{{ csrf_token }}"></div>
	{% render_bundle 'mesas' %}

<style>
	body{
		background: url("{% static "src/img/madera-blanca.jpg" %}") repeat;

	}

	.mesa{
		position: relative;
		margin-left: 2em;
	}

	.mesa-name{
		position: absolute;
	    top: 1.1em;
	    font-size: 2em;
	    left: 1.1em;
	    color: white;
	    border-radius: 20%;
	    background: brown;
	}

	.title-mesas{
		text-align: center;
	}
</style>

{% endblock content %}
