{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load staticfiles %}

{% block content %}
<style>
	body{
		background: url("{% static "src/img/madera.jpg" %}") repeat;

	}

	.divider2{

		border-bottom: 1px solid #e5e5e5;
		height: 2.5em;
	}

	.simbols{
		margin-left: 1em;
	    font-size: 1.3em;
	    width: 5.5em;
	    margin: 0.2em;
	}

	.btn-con{
		background: yellow;
	    color: black;
	    border: 1px solid #FFEB3B;
	}
	.btn-extra{
		background: orange;
	    color: black;
	    border: 1px solid #FFB33A;
	}

	.btn-llevar{
		background: #ef83ef;
	    color: white;
	    border: 1px solid ##ef83ef;

	}


	.order-list{
	background-color: #F2F2F2;
	border: 2px solid #DCDCDC;
	}

	.platillox{
		border: 2px solid #DCDCDC;
		background-color: #CDDC39;
		font-size: 1.5em;
		padding: 1em;
	}

	.simbology{
		border: 2px solid #DCDCDC;

	    margin-top: 0em;
	    padding: 1em;
	}
	.mas{
		border-radius: 50%;
		margin: .3em;
    	font-size: 2em;
	}

	.calculadora{
		background: #E39E56;
	    padding: 1em;
	    border-radius: 10px;
	    margin-left: 1em;
	}

	.simbol-btns{
		border-left: 4px solid #472E1A;
	}

	.numeros{
		border-radius: 30%;
		margin: .1em;
    	font-size: 2em;
    	margin-left: 8px;
	}

	.menos{
		margin-top: 1em;
    	width: 6em;
    	height: 4em;
	}

	.plato{
		border: 2px solid #DCDCDC;
	    margin: 1em;
	    padding: 1em;
	    border-radius: 5px;
	}

	.menu-btns{
	    width: 13em;
		margin: 0.5em;
		padding: 0.8em;
	}

	.ingredients{
		color: black;
	}

	.ingredients:hover{
		color: black;
	}



	.btn-fin{
		margin-top:1em;
		margin-bottom:1em;
	}

	.x-btn{
		border-radius: 50%;
	    margin: .7em;
	    font-size: 1.3em;
	    position: absolute;
	    right: 1em;
	    margin-top: -1em;
	}


	@media only screen and (max-width: 412px) {
		.simbols{
		    width: 8.1em;
		}
	}

	@media only screen and (max-width: 1089px) {
		.open>.dropdown-menu {
		    font-size: 2em;
		}

		.menu-btns{
		    width: 11em;
			margin: 0.5em;
			padding: 0.8em;
		}

		.ingredients{
		width: 7em;
		margin: 0.5em;
		padding: 0.8em;
		background-image: linear-gradient(to bottom,#795548 0,#211B2B 100%);
		color: white;
	}


		.x-btn{
			border-radius: 50%;
		    margin: -0.3em;
		    font-size: 2em;
		    width: 2em;
		    position: absolute;
		    right: 1em;
		    margin-top: -1em;
		}
	}


</style>

	<div id='pedidos' data-mesa={{ id }}></div>

	{% render_bundle 'pedidos' %}



{% endblock content %}
