{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load staticfiles %}

{% block content %}

    <style>
        body {
            background: url("{% static "src/img/madera-blanca.jpg" %}") repeat;
        }

        .orden-caja {
			font-size: 3rem;
        }

        .total-persona {
    	    background-color: #f2f2f2;
    		border-top: 0px;
        }

        .title-caja{
            text-align: center;
        }
    </style>

	<div
        id="react-detalle-caja"
        data-mesa={{ id }}
		data-token="{{ csrf_token }}"
        data-idOrdenMesa={{ idOrdenMesa }}
        data-locacion-mesa={{ locacion }}
	>
	</div>

    <div id='user' data-super-user={{ user.is_superuser }}
       data-user={{ user }} data-rol={{ user.first_name }}></div>

	{% render_bundle 'detalleCaja' %}

{% endblock content %}


