{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load staticfiles %}

{% block content %}

    <style>
        body {
            background: url("{% static "src/img/madera-blanca.jpg" %}") repeat;
        }

        .orden-caja {
			font-size: 3rem;
        }

        .total-persona {
    	    background-color: #f2f2f2;
    		border-top: 0px;
        }

    </style>

    <h1> Caja </h1>
    <hr />

	<div
		id="react-detalle-caja"
		data-mesa={{ id }}
		data-user={{ request.user }}
		data-idOrdenMesa={{ idOrdenMesa }}
		data-token="{{ csrf_token }}"
		super-user={{ request.user.is_superuser }}
	>
	</div>

	{% render_bundle 'detalleCaja' %}

{% endblock content %}


