{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load staticfiles %}

{% block content %}

	<div
		data-token="{{ csrf_token }}"
		id="react-usuarios"
		data-super-user={{ user.is_superuser }}
		data-user={{ user }}
		data-rol={{ user.first_name }}
	>
	</div>

	{% render_bundle 'usuarios'%}


<style>

	body{
		background: url("{% static "src/img/maderanegra.jpg" %}") repeat
	}

	.my-users{
	    background-color: #EFECEC;
	    border-radius: 10px;
	    padding-top: 0.5em;
	    padding-right: 2em;
	    padding-left: 2em;
	    padding-bottom: 0.5em;
	}

	.new-users{
		background-color: #EFECEC;
	    border-radius: 10px;
	    padding-top: 0.5em;
	    padding-right: 2em;
	    padding-left: 2em;
	    padding-bottom: 0.5em;
	    margin-bottom: 2em;
	}

	.btn-crear{
		width: 50%;
	}

	.title{
		color:#f2f2f2;
		text-align: center;
	}


</style>

{% endblock content %}